In [1]:
# For set/Change working directory we need to import os

import os

In [8]:
# Set new working directory

os.chdir('E:\\Renata Limited\\Data Scientist\\Assignment')

In [9]:
# Import neccessary packages (after installed)

import pandas as pd
import openpyxl

In [10]:
# Read the Excel file and load Sheet1 into a DataFrame

df = pd.read_excel('Assignment Part 2.xlsx',
                   sheet_name='Sheet1')

In [11]:
print (df.head(10))

        ID Customer Name    Division Gender MaritalStatus  Age  Income
0  BU79786     Christine       Dhaka      F       Married   49   56274
1  QZ44356         Susan    Rajshahi      F        Single   34       0
2  AI49188      Margaret      Khulna      F       Married   29   48767
3  WW63253         David    Barishal      M       Married   46       0
4  HB64268         Peter  Mymensingh      M        Single   26   43836
5  OC83172        Judith      Sylhet      F       Married   27   62902
6  XZ87318      Jennifer      Khulna      F       Married   31   55350
7  CF85061       Michael    Barishal      M        Single   38       0
8  DY87989          John  Mymensingh      M      Divorced   47   14072
9  BQ94931          Mary      Sylhet      F       Married   31   28812

In [12]:
# Create a new Excel file and write Sheet1 data into a new sheet

with pd.ExcelWriter('New file (Sheet 1).xlsx') as writer:
    df.to_excel(writer,
                sheet_name='Sheet1_new',
                index=False)

In [13]:
# Convert the new Excel file to CSV

df.to_csv('New CSV file (Sheet 1).csv',
          index=False)