In [1]:
# Package for setting new working directory

import os

In [2]:
# Set new working directory

os.chdir('E:\\Renata Limited\\Data Scientist\\Assignment')

In [3]:
# import neccessary packages

import pandas as pd

In [4]:
# Read the CSV file into a DataFrame

df = pd.read_csv('New CSV file (Sheet 1).csv')

In [5]:
print (df.head(6))

        ID Customer Name    Division Gender MaritalStatus  Age  Income
0  BU79786     Christine       Dhaka      F       Married   49   56274
1  QZ44356         Susan    Rajshahi      F        Single   34       0
2  AI49188      Margaret      Khulna      F       Married   29   48767
3  WW63253         David    Barishal      M       Married   46       0
4  HB64268         Peter  Mymensingh      M        Single   26   43836
5  OC83172        Judith      Sylhet      F       Married   27   62902

In [6]:
# Remove the 'ID' column from the DataFrame

df = df.drop('ID', axis=1)

In [7]:
print (df.head(6))

  Customer Name    Division Gender MaritalStatus  Age  Income
0     Christine       Dhaka      F       Married   49   56274
1         Susan    Rajshahi      F        Single   34       0
2      Margaret      Khulna      F       Married   29   48767
3         David    Barishal      M       Married   46       0
4         Peter  Mymensingh      M        Single   26   43836
5        Judith      Sylhet      F       Married   27   62902

In [8]:
# Encoding categorical columns (Division, Gender, and MaritalStatus) with numerical values

df['Gender'] = df['Gender'].map({'M': 1, 'F': 2})
df['MaritalStatus'] = df['MaritalStatus'].map({'Single': 1, 'Married': 2, 'Divorced': 3})
df['Division'] = df['Division'].map({'Barishal':1,
                                    'Chattogram':2,
                                    'Dhaka':3,
                                    'Khulna':4,
                                    'Mymensingh':5,
                                    'Rajshahi':6,
                                    'Rangpur':7,
                                    'Sylhet':8})

In [9]:
print (df.head(6))

  Customer Name  Division  Gender  MaritalStatus  Age  Income
0     Christine         3       2              2   49   56274
1         Susan         6       2              1   34       0
2      Margaret         4       2              2   29   48767
3         David         1       1              2   46       0
4         Peter         5       1              1   26   43836
5        Judith         8       2              2   27   62902

In [10]:
# import packages for clustering

from sklearn.cluster import KMeans  # First we need "pip install scikit-learn"

In [11]:
# Extract the 'Division' column as input for clustering

DIV = df[['Division']]

In [14]:
# Perform K-means clustering

KMC = KMeans(n_clusters=4,
                n_init=10)  # Explicitly set n_init=10

KMC.fit(df[['Division']])

KMeans(n_clusters=4, n_init=10)

In [16]:
# Retrieve the cluster labels assigned to each data point

labels = KMC.labels_

In [17]:
print (labels)

[0 2 0 3 2 1 0 3 2 1 1 3 0 2 0 3 2 1 1 3 0 2 2 1 1 3 0 2 0 1 3 0 2 0 3 2 1
 1 3 0 1 3 0 2 2 1 1 3 0 1]

In [18]:
# Add the cluster labels to the DataFrame as named "Cluster"

df['Cluster'] = labels

In [19]:
print (df.head(6))

  Customer Name  Division  Gender  MaritalStatus  Age  Income  Cluster
0     Christine         3       2              2   49   56274        0
1         Susan         6       2              1   34       0        2
2      Margaret         4       2              2   29   48767        0
3         David         1       1              2   46       0        3
4         Peter         5       1              1   26   43836        2
5        Judith         8       2              2   27   62902        1

In [20]:
# Export the updated DataFrame to a new CSV file

df.to_csv('Cluster csv file.csv',
          index=False)